<form action="/admin/rentals/find" method="post"><input type="text" id="title_search" name="title" placeholder="Search for title.."><input type="submit" value="Search"></form>

<table>
  <tr>
    <th>User</th>
    <th>video</th>
    <th>Start Date</th>
    <th>End Date</th>
  </tr>
  <%@rental.each do |rental|%>
  <tr>
    <td> <%= rental.user.user_name %> </td>
    <td> <%= rental.content.title%> </td>
    <td> <%= rental.start_date %> </td>
    <td> <%= rental.end_date %> </td>
    <td> <button type="button"><a href = "http://localhost:4567/user/<%=rental.user.id%>"> User</a></button> </td>
    <td> <a href="/watch/<%= rental.user_id%>"><button type="button">Video</button></a> </td>
    
  </tr>
  <% end %>
</table>
